@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background:  #FBB200;
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #E20202;
    border-radius: 10px;
   
  }
  

  