@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.preparing {
 animation: preparing 1s ease infinite alternate;
}

@keyframes preparing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
  

*::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background:  #FBB200;
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #E20202;
    border-radius: 10px;
   
  }



  